@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Everyone</h1>
    <p>Rory Romanovich is skilled at <a href="https://www.stclaircollege.ca/">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/gradpicanima.gif" alt="Most Handsome" width="300px" height="200px"; />
</div>
