@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>
<div>
    <img src="~/pic2.jpg" alt="2 Military Choppers" width="300px" height="200px"; />
    <button><a href="mailto:roryromanovich@gmail.com">Contact me</a></button>
    <button><a href="https://www.stclaircollege.ca">St.Clair College</a></button>
<p>Rory Is a second year student at St.Clair College. Rory Volunteers for 2 local non-profits, and
    one local Charity.</p>
    </div>